In [17]:
import pandas as pd

df_single = pd.read_csv('inference_results_single_cat_clean.csv', header=0, sep=';')
df_multiple = pd.read_csv('inference_results_multiple_cat_clean.csv', header=0, sep=';')

In [18]:
df_single = df_single.rename(columns={"category_1": "category_single"})
df_multiple = df_multiple.rename(columns={"category_1": "category_multiple_1", "category_2": "category_multiple_2"})

In [19]:
df_single

        id  cluster                              img          category_single
0        1       -1  snev_NA_1214_53947434048__b.jpg  VEGETATION AND HABITATS
1        2       -1  snev_NA_1507_53702060056__b.jpg     HERITAGE AND CULTURE
2        3       -1  snev_NA_1413_53577666166__b.jpg     HERITAGE AND CULTURE
3        4       -1  snev_NA_3474_53736356798__b.jpg       TOWNS AND VILLAGES
4        5       -1  snev_NA_1507_53545142882__b.jpg     HERITAGE AND CULTURE
...    ...      ...                              ...                      ...
5061  5062      261  snev_NA_1508_53701177832__b.jpg       TOWNS AND VILLAGES
5062  5063      261  snev_NA_1508_53702385654__b.jpg       TOWNS AND VILLAGES
5063  5064      261  snev_NA_1507_53517780834__b.jpg     HERITAGE AND CULTURE
5064  5065      261  snev_NA_5374_53628085617__b.jpg     HERITAGE AND CULTURE
5065  5066      261  snev_NA_1508_53701151402__b.jpg     HERITAGE AND CULTURE

[5066 rows x 4 columns]

In [22]:

df_multiple.drop(columns=['category_llava'], inplace=True,errors="ignore")
df_multiple

,id,cluster,img,category_multiple_1,category_multiple_2
0,1,-1,snev_NA_1214_53947434048__b.jpg,TRACKS AND TRAILS,VEGETATION AND HABITATS
1,2,-1,snev_NA_1507_53702060056__b.jpg,HERITAGE AND CULTURE,KNOWLEDGE
2,3,-1,snev_NA_1413_53577666166__b.jpg,HERITAGE AND CULTURE,KNOWLEDGE
3,4,-1,snev_NA_3474_53736356798__b.jpg,HERITAGE AND CULTURE,TOWNS AND VILLAGES
4,5,-1,snev_NA_1507_53545142882__b.jpg,HERITAGE AND CULTURE,KNOWLEDGE
...,...,...,...,...,...
5061,5062,261,snev_NA_1508_53701177832__b.jpg,TOWNS AND VILLAGES,HERITAGE AND CULTURE
5062,5063,261,snev_NA_1508_53702385654__b.jpg,TOWNS AND VILLAGES,HERITAGE AND CULTURE
5063,5064,261,snev_NA_1507_53517780834__b.jpg,HERITAGE AND CULTURE,TOWNS AND VILLAGES
5064,5065,261,snev_NA_5374_53628085617__b.jpg,HERITAGE AND CULTURE,TOWNS AND VILLAGES
5065,5066,261,snev_NA_1508_53701151402__b.jpg,HERITAGE AND CULTURE,TOWNS AND VILLAGES

In [31]:
df_def = df_single[['id','cluster','img','category_single']] \
    .merge(
        df_multiple[['img','category_multiple_1', 'category_multiple_2']], 
        on='img', how='inner').filter(['id', 'cluster','img', 'category_single', 'category_multiple_1', 'category_multiple_2']
                                      )

In [32]:
df_def

,id,cluster,img,category_single,category_multiple_1,category_multiple_2
0,1,-1,snev_NA_1214_53947434048__b.jpg,VEGETATION AND HABITATS,TRACKS AND TRAILS,VEGETATION AND HABITATS
1,2,-1,snev_NA_1507_53702060056__b.jpg,HERITAGE AND CULTURE,HERITAGE AND CULTURE,KNOWLEDGE
2,3,-1,snev_NA_1413_53577666166__b.jpg,HERITAGE AND CULTURE,HERITAGE AND CULTURE,KNOWLEDGE
3,4,-1,snev_NA_3474_53736356798__b.jpg,TOWNS AND VILLAGES,HERITAGE AND CULTURE,TOWNS AND VILLAGES
4,5,-1,snev_NA_1507_53545142882__b.jpg,HERITAGE AND CULTURE,HERITAGE AND CULTURE,KNOWLEDGE
...,...,...,...,...,...,...
5061,5062,261,snev_NA_1508_53701177832__b.jpg,TOWNS AND VILLAGES,TOWNS AND VILLAGES,HERITAGE AND CULTURE
5062,5063,261,snev_NA_1508_53702385654__b.jpg,TOWNS AND VILLAGES,TOWNS AND VILLAGES,HERITAGE AND CULTURE
5063,5064,261,snev_NA_1507_53517780834__b.jpg,HERITAGE AND CULTURE,HERITAGE AND CULTURE,TOWNS AND VILLAGES
5064,5065,261,snev_NA_5374_53628085617__b.jpg,HERITAGE AND CULTURE,HERITAGE AND CULTURE,TOWNS AND VILLAGES
5065,5066,261,snev_NA_1508_53701151402__b.jpg,HERITAGE AND CULTURE,HERITAGE AND CULTURE,TOWNS AND VILLAGES

In [33]:
df_def.to_csv("inference_results_all.csv", sep=";", index=False)